/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
.alegrify-align-child--start,
.alegrify-align-child--center,
.alegrify-align-child--end,
.alegrify-align-child--top,
.alegrify-align-child--middle,
.alegrify-align-child--bottom {
  display: flex;
  flex-direction: row;
}
.alegrify-align-child--start {
  justify-content: flex-start;
}
.alegrify-align-child--center {
  justify-content: center;
}
.alegrify-align-child--end {
  justify-content: flex-end;
}
.alegrify-align-child--top {
  align-items: flex-start;
}
.alegrify-align-child--middle {
  align-items: center;
}
.alegrify-align-child--bottom {
  align-items: flex-end;
}
.alegrify-align-text--start {
  text-align: left;
}
[dir="rtl"] .alegrify-align-text--start,
:host-context([dir="rtl"]) .alegrify-align-text--start {
  text-align: right;
}
[dir="ltr"] .alegrify-align-text--start,
:host-context([dir="ltr"]) .alegrify-align-text--start {
  text-align: left;
}
.alegrify-align-text--center {
  text-align: center;
}
.alegrify-align-text--end {
  text-align: right;
}
[dir="rtl"] .alegrify-align-text--end,
:host-context([dir="rtl"]) .alegrify-align-text--end {
  text-align: left;
}
[dir="ltr"] .alegrify-align-text--end,
:host-context([dir="ltr"]) .alegrify-align-text--end {
  text-align: right;
}
