/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
.alegrify-grid {
  margin: -16px 0 0 0;
}
[dir="rtl"] .alegrify-grid,
:host-context([dir="rtl"]) .alegrify-grid {
  margin: -16px 0 0 0;
}
[dir="ltr"] .alegrify-grid,
:host-context([dir="ltr"]) .alegrify-grid {
  margin: -16px 0 0 0;
}
@media (min-width: 1000px) {
  .alegrify-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    clear: both;
    margin: -8px;
    min-width: 100%;
    box-sizing: border-box;
  }
  .alegrify-grid.alegrify-grid--top {
    align-items: flex-start;
  }
  .alegrify-grid.alegrify-grid--middle {
    align-items: center;
  }
  .alegrify-grid.alegrify-grid--bottom {
    align-items: flex-end;
  }
  .alegrify-grid.alegrify-grid--stretch {
    align-items: stretch;
  }
  .alegrify-grid.alegrify-grid--left {
    justify-content: flex-start;
  }
  .alegrify-grid.alegrify-grid--center {
    justify-content: center;
  }
  .alegrify-grid.alegrify-grid--right {
    justify-content: flex-end;
  }
  .alegrify-grid.alegrify-grid--outline {
    justify-content: space-between;
  }
  .alegrify-grid.alegrify-grid--even {
    justify-content: space-around;
  }
  .alegrify-grid.alegrify-grid--reverse {
    flex-direction: row-reverse;
  }
  .alegrify-grid.alegrify-grid--bleed {
    margin: 0;
  }
  .alegrify-grid.alegrify-grid--bleed > .alegrify-grid__cell {
    padding: 0;
  }
}
@media (min-width: 1240px) {
  .alegrify-grid--large {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    clear: both;
    margin: -8px;
    min-width: 100%;
    box-sizing: border-box;
  }
  .alegrify-grid--large.alegrify-grid--top {
    align-items: flex-start;
  }
  .alegrify-grid--large.alegrify-grid--middle {
    align-items: center;
  }
  .alegrify-grid--large.alegrify-grid--bottom {
    align-items: flex-end;
  }
  .alegrify-grid--large.alegrify-grid--stretch {
    align-items: stretch;
  }
  .alegrify-grid--large.alegrify-grid--left {
    justify-content: flex-start;
  }
  .alegrify-grid--large.alegrify-grid--center {
    justify-content: center;
  }
  .alegrify-grid--large.alegrify-grid--right {
    justify-content: flex-end;
  }
  .alegrify-grid--large.alegrify-grid--outline {
    justify-content: space-between;
  }
  .alegrify-grid--large.alegrify-grid--even {
    justify-content: space-around;
  }
  .alegrify-grid--large.alegrify-grid--reverse {
    flex-direction: row-reverse;
  }
  .alegrify-grid--large.alegrify-grid--bleed {
    margin: 0;
  }
  .alegrify-grid--large.alegrify-grid--bleed > .alegrify-grid__cell {
    padding: 0;
  }
  .alegrify-grid--large .alegrify-grid__cell,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell {
    float: left;
    padding: 8px;
    box-sizing: border-box;
  }
  [dir="rtl"] .alegrify-grid--large .alegrify-grid__cell,
  [dir="rtl"] .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell,
  :host-context([dir="rtl"]) .alegrify-grid--large .alegrify-grid__cell,
  :host-context([dir="rtl"]) .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell {
    float: right;
  }
  [dir="ltr"] .alegrify-grid--large .alegrify-grid__cell,
  [dir="ltr"] .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell,
  :host-context([dir="ltr"]) .alegrify-grid--large .alegrify-grid__cell,
  :host-context([dir="ltr"]) .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell {
    float: left;
  }
  .alegrify-grid--large .alegrify-grid__cell--1,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--1 {
    width: 8.33333333%;
  }
  .alegrify-grid--large .alegrify-grid__cell--2,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--2 {
    width: 16.66666667%;
  }
  .alegrify-grid--large .alegrify-grid__cell--3,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--3 {
    width: 25%;
  }
  .alegrify-grid--large .alegrify-grid__cell--4,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--4 {
    width: 33.33333333%;
  }
  .alegrify-grid--large .alegrify-grid__cell--5,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--5 {
    width: 41.66666667%;
  }
  .alegrify-grid--large .alegrify-grid__cell--6,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--6 {
    width: 50%;
  }
  .alegrify-grid--large .alegrify-grid__cell--7,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--7 {
    width: 58.33333333%;
  }
  .alegrify-grid--large .alegrify-grid__cell--8,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--8 {
    width: 66.66666667%;
  }
  .alegrify-grid--large .alegrify-grid__cell--9,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--9 {
    width: 75%;
  }
  .alegrify-grid--large .alegrify-grid__cell--10,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--10 {
    width: 83.33333333%;
  }
  .alegrify-grid--large .alegrify-grid__cell--11,
  .alegrify-grid--large [class^="alegrify-"].alegrify-grid__cell--11 {
    width: 91.66666667%;
  }
}
.alegrify-grid--all {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  clear: both;
  margin: -8px;
  min-width: 100%;
  box-sizing: border-box;
}
.alegrify-grid--all.alegrify-grid--top {
  align-items: flex-start;
}
.alegrify-grid--all.alegrify-grid--middle {
  align-items: center;
}
.alegrify-grid--all.alegrify-grid--bottom {
  align-items: flex-end;
}
.alegrify-grid--all.alegrify-grid--stretch {
  align-items: stretch;
}
.alegrify-grid--all.alegrify-grid--left {
  justify-content: flex-start;
}
.alegrify-grid--all.alegrify-grid--center {
  justify-content: center;
}
.alegrify-grid--all.alegrify-grid--right {
  justify-content: flex-end;
}
.alegrify-grid--all.alegrify-grid--outline {
  justify-content: space-between;
}
.alegrify-grid--all.alegrify-grid--even {
  justify-content: space-around;
}
.alegrify-grid--all.alegrify-grid--reverse {
  flex-direction: row-reverse;
}
.alegrify-grid--all.alegrify-grid--bleed {
  margin: 0;
}
.alegrify-grid--all.alegrify-grid--bleed > .alegrify-grid__cell {
  padding: 0;
}
.alegrify-grid--all .alegrify-grid__cell,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell {
  float: left;
  padding: 8px;
  box-sizing: border-box;
}
[dir="rtl"] .alegrify-grid--all .alegrify-grid__cell,
[dir="rtl"] .alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell,
:host-context([dir="rtl"]) .alegrify-grid--all .alegrify-grid__cell,
:host-context([dir="rtl"]) .alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell {
  float: right;
}
[dir="ltr"] .alegrify-grid--all .alegrify-grid__cell,
[dir="ltr"] .alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell,
:host-context([dir="ltr"]) .alegrify-grid--all .alegrify-grid__cell,
:host-context([dir="ltr"]) .alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell {
  float: left;
}
.alegrify-grid--all .alegrify-grid__cell--1,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--1 {
  width: 8.33333333%;
}
.alegrify-grid--all .alegrify-grid__cell--2,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--2 {
  width: 16.66666667%;
}
.alegrify-grid--all .alegrify-grid__cell--3,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--3 {
  width: 25%;
}
.alegrify-grid--all .alegrify-grid__cell--4,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--4 {
  width: 33.33333333%;
}
.alegrify-grid--all .alegrify-grid__cell--5,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--5 {
  width: 41.66666667%;
}
.alegrify-grid--all .alegrify-grid__cell--6,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--6 {
  width: 50%;
}
.alegrify-grid--all .alegrify-grid__cell--7,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--7 {
  width: 58.33333333%;
}
.alegrify-grid--all .alegrify-grid__cell--8,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--8 {
  width: 66.66666667%;
}
.alegrify-grid--all .alegrify-grid__cell--9,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--9 {
  width: 75%;
}
.alegrify-grid--all .alegrify-grid__cell--10,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--10 {
  width: 83.33333333%;
}
.alegrify-grid--all .alegrify-grid__cell--11,
.alegrify-grid--all [class^="alegrify-"].alegrify-grid__cell--11 {
  width: 91.66666667%;
}
.alegrify-grid__cell,
[class^="alegrify-"].alegrify-grid__cell {
  padding: 16px 0 0 0;
}
@media (min-width: 1000px) {
  .alegrify-grid__cell,
  [class^="alegrify-"].alegrify-grid__cell {
    float: left;
    padding: 8px;
    box-sizing: border-box;
  }
  [dir="rtl"] .alegrify-grid__cell,
  [dir="rtl"] [class^="alegrify-"].alegrify-grid__cell,
  :host-context([dir="rtl"]) .alegrify-grid__cell,
  :host-context([dir="rtl"]) [class^="alegrify-"].alegrify-grid__cell {
    float: right;
  }
  [dir="ltr"] .alegrify-grid__cell,
  [dir="ltr"] [class^="alegrify-"].alegrify-grid__cell,
  :host-context([dir="ltr"]) .alegrify-grid__cell,
  :host-context([dir="ltr"]) [class^="alegrify-"].alegrify-grid__cell {
    float: left;
  }
  .alegrify-grid__cell--1,
  [class^="alegrify-"].alegrify-grid__cell--1 {
    width: 8.33333333%;
  }
  .alegrify-grid__cell--2,
  [class^="alegrify-"].alegrify-grid__cell--2 {
    width: 16.66666667%;
  }
  .alegrify-grid__cell--3,
  [class^="alegrify-"].alegrify-grid__cell--3 {
    width: 25%;
  }
  .alegrify-grid__cell--4,
  [class^="alegrify-"].alegrify-grid__cell--4 {
    width: 33.33333333%;
  }
  .alegrify-grid__cell--5,
  [class^="alegrify-"].alegrify-grid__cell--5 {
    width: 41.66666667%;
  }
  .alegrify-grid__cell--6,
  [class^="alegrify-"].alegrify-grid__cell--6 {
    width: 50%;
  }
  .alegrify-grid__cell--7,
  [class^="alegrify-"].alegrify-grid__cell--7 {
    width: 58.33333333%;
  }
  .alegrify-grid__cell--8,
  [class^="alegrify-"].alegrify-grid__cell--8 {
    width: 66.66666667%;
  }
  .alegrify-grid__cell--9,
  [class^="alegrify-"].alegrify-grid__cell--9 {
    width: 75%;
  }
  .alegrify-grid__cell--10,
  [class^="alegrify-"].alegrify-grid__cell--10 {
    width: 83.33333333%;
  }
  .alegrify-grid__cell--11,
  [class^="alegrify-"].alegrify-grid__cell--11 {
    width: 91.66666667%;
  }
}
