/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
.alegrify-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px #eeeeee;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
[dir="rtl"] .alegrify-header,
:host-context([dir="rtl"]) .alegrify-header {
  box-shadow: -2px 2px 4px #eeeeee;
  text-transform: uppercase;
}
[dir="ltr"] .alegrify-header,
:host-context([dir="ltr"]) .alegrify-header {
  box-shadow: 2px 2px 4px #eeeeee;
  text-transform: uppercase;
}
.alegrify-header__content {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 0;
}
[dir="rtl"] .alegrify-header__content,
:host-context([dir="rtl"]) .alegrify-header__content {
  margin-right: auto;
  margin-left: auto;
}
[dir="ltr"] .alegrify-header__content,
:host-context([dir="ltr"]) .alegrify-header__content {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .alegrify-header__content {
    width: 600px;
  }
}
@media screen and (min-width: 1000px) {
  .alegrify-header__content {
    width: 960px;
  }
}
