/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
.alegrify-media-selector {
  position: relative;
  height: calc(300px * 2);
  border: none;
  margin: 0;
  padding: 0;
}
.alegrify-media-selector:focus-within {
  outline: #ffffff;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 1px;
}
.alegrify-media-selector__input {
  top: 300px;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
  left: -999999px;
}
[dir="rtl"] .alegrify-media-selector__input,
:host-context([dir="rtl"]) .alegrify-media-selector__input {
  left: initial;
  right: -999999px;
}
[dir="ltr"] .alegrify-media-selector__input,
:host-context([dir="ltr"]) .alegrify-media-selector__input {
  right: initial;
  left: -999999px;
}
@media screen and (min-width: 600px) {
  .alegrify-media-selector__input {
    top: 0;
  }
}
.alegrify-media-selector__input:checked + .alegrify-media-selector__figure {
  display: flex;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
}
[dir="rtl"] .alegrify-media-selector__input:checked + .alegrify-media-selector__figure,
:host-context([dir="rtl"]) .alegrify-media-selector__input:checked + .alegrify-media-selector__figure {
  left: initial;
  right: 0;
}
[dir="ltr"] .alegrify-media-selector__input:checked + .alegrify-media-selector__figure,
:host-context([dir="ltr"]) .alegrify-media-selector__input:checked + .alegrify-media-selector__figure {
  right: initial;
  left: 0;
}
.alegrify-media-selector__input:checked + .alegrify-media-selector__figure + .alegrify-media-selector__label {
  opacity: 1;
}
@media screen and (min-width: 600px) {
  .alegrify-media-selector__input:checked + .alegrify-media-selector__figure {
    display: flex;
    width: 50%;
  }
}
.alegrify-media-selector__list {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 300px;
}
@media screen and (min-width: 600px) {
  .alegrify-media-selector__list {
    padding-top: 0;
  }
}
.alegrify-media-selector__figure {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  background-color: #333333;
  z-index: 1;
}
.alegrify-media-selector__image {
  max-height: 100%;
  max-width: 100%;
}
.alegrify-media-selector__label {
  display: block;
  opacity: 0.2;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.alegrify-media-selector__label:hover {
  opacity: 0.5;
}
@media screen and (min-width: 600px) {
  .alegrify-media-selector__label {
    width: 50%;
    margin-left: 50%;
    padding: 0 16px;
  }
  [dir="rtl"] .alegrify-media-selector__label,
  :host-context([dir="rtl"]) .alegrify-media-selector__label {
    margin-left: initial;
    margin-right: 50%;
  }
  [dir="ltr"] .alegrify-media-selector__label,
  :host-context([dir="ltr"]) .alegrify-media-selector__label {
    margin-right: initial;
    margin-left: 50%;
  }
}
@media screen and (min-width: 600px) {
  .alegrify-media-selector {
    height: 300px;
  }
}
