/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
/* Base colors */
/* Element specific colors */
/* State indication colors */
/* Focus outline colors */
/* Element colors */
.alegrify-label {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
}
.alegrify-label--error {
  color: #c90a0a;
}
